.login-block {
    display: flex;
    flex-direction: column;
    margin-block: 10px;
    margin: auto;
    max-width: 300px;
}
.login-block * {
    margin-bottom: 10px;
}
.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input{
    min-height: 20px;
    padding: 6px;
    border-radius: 3px;
    border-color: var(--color-primary);
}
