.board-list {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: start;
    margin-top: 15px;
    width: 50%;
}

.board-list ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.board-list .board-list-item {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: large;
    padding: 10px;
    background-color: var(--color-board-list);
    display: list-item;
    border-radius: 0;
    border: var(--border-board-list);
}

.boards {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    width: 100%;
}

#add-board-form * {
    min-height: 30px;
    padding: 6px;
    border-radius: 6px;
    border-color: var(--color-primary);
    margin-right: 10px;
}

#add-board-form button {
   padding: 7px 14px;
}